
<nav class="bg-slate-200">
  <div class="flex gap-2 p-4">
    <div class="text-3xl font-semibold w-60">
      <a href="#" class="hover:text-slate-500">Recipe Book</a>
    </div>
    <div class="flex w-full justify-between">
      <ul class="flex justify-center items-center gap-4">
        <li>
          <a href="#" class="hover:text-slate-500">Recipes</a>
        </li>
        <li>
          <a href="#" class="hover:text-slate-500">Shopping List</a>
        </li>
      </ul>
      <div class="flex items-center">
        <a href="#" class="dropdown-toggle" role="button" >Manage</a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="hover:text-slate-500">Save Data</a>
              <a href="#" class="hover:text-slate-500">Fetching Data</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</nav>