<div class="">
  <div class="">
    <button class="bg-green-700 p-2 rounded-md text-white my-4 hover:bg-green-500">New Recipe</button>
  </div>
</div>
<hr/>
<div class="mt-4">
  <div class="">
    <a href="#" class="my-2 w-full bg-slate-200 hover:bg-slate-400 flex justify-between p-4 rounded-md border-2 border-slate-300"
      *ngFor="let recipe of recipes">
      <div class="">
        <h4 class="text-xl font-bold">{{recipe.name}}</h4>
        <p class="">{{recipe.description}}</p>
      </div>
      <span class="">
        <img src="{{recipe.imagePath}}" alt="{{recipe.title}}" class="max-h-[60px]" />
      </span>
    </a>

    <app-recipe-item></app-recipe-item>
  </div>
</div>